{{ template "header" . }}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">Networks</li>
</ol>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4 class="card-title">Networks</h4>
              <div class="small text-muted" style="margin-top:-10px;">Total: {{ len .Networks }}</div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mt-5">
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  {{ range .Networks }}
                  <tr>
                    <td>{{ .Name }}</td>
                    <td>{{ .Type }}</td>
                  </tr>
                  {{ end }}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ template "footer" . }}
