[Unit]
Description=Vmango web service
After=network-online.target

[Service]
Type=simple
User=vmango
Group=vmango
EnvironmentFile=-/etc/sysconfig/vmango
ExecStart=/usr/bin/vmango --config=/etc/vmango/vmango.conf

[Install]
WantedBy=multi-user.target
