.title-bar {
  background: #333;
  padding: 0.9rem; }

.top-bar {
  background: #333; }
  .top-bar ul {
    background: #333; }
    .top-bar ul li {
      background: #333; }
      .top-bar ul li a {
        color: #fff; }

.menu-text {
  color: #fff; }
  @media only screen and (max-width: 40em) {
    .menu-text {
      display: none !important; } }

.menu a {
  color: #333;
}
