{{ template "header" . }}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">Images</li>
</ol>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4 class="card-title">Images</h4>
            </div>

            <div class="col-md-12 mt-5">
              <table class="table table-hover">
                <thead class="thead-light">
                  <tr>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Arch</th>
                    <th>Path</th>
                  </tr>
                </thead>
                <tbody>
                  {{ range .Images }}
                  <tr>
                    <td>{{ .Os.Name }}</td>
                    <td>{{ .Os.Version }}</td>
                    <td>{{ .Os.Arch }}</td>
                    <td>{{ .VolumePath }}</td>
                  </tr>
                  {{ end }}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ template "footer" . }}
