{{template "header" .}}
<div class="row">
  <div class="medium-8 column end">
  <div class="row">
    <div class="medium-12">
      <h1>Create machine</h1>
    </div>
  </div>

  <form method="post" action="">
      <div class="row small-up-2 medium-up-3 JS-CheckboxCards" data-CheckboxCards-Multiple="false">
      <h4>Choose an image</h4>
      {{ range .Images }}
        <div class="column">
          <div class="card JS-CheckboxCard">
            <input type="checkbox" name="Image" value="{{ .FullName }}">
            <div class="card-section text-center">
              <img height="70" width="70" src="{{ Static "vmango/linux-logo.png" }}">
              <br>
              <i style="display: none;" class="icon fi-check"></i>
              {{ .OSName }}
              <br>
              {{ .OSVersion }} {{ .ArchString2 }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>

    <div class="row small-up-2 medium-up-3 JS-CheckboxCards" data-CheckboxCards-Multiple="false">
      <h4>Choose a size</h4>
      {{ range .Plans }}
        <div class="column">
          <div class="card JS-CheckboxCard">
          <input type="checkbox" name="Plan" value="{{ .Name }}">
          <div class="card-section text-center">
            <i style="display: none;" class="icon fi-check"></i>
            <b>{{ .Name }}</b>
            <br>
            {{ .Cpus }}xCPU, {{ .MemoryMegabytes }}Mb, {{ .DiskSizeGigabytes }}GB
          </div>
          </div>
        </div>
      {{ end }}
    </div>

    <div class="row small-up-2 medium-up-3 JS-CheckboxCards" data-CheckboxCards-Multiple="true">
        <h4>Add your SSH keys</h4>
        {{ range .SSHKeys }}
        <div class="column">
          <label for="{{ .Name }}">
          <div class="card JS-CheckboxCard">
            <div class="card-section">
              <i style="display: none;" class="icon fi-check"></i>
              <input id="{{ .Name }}" value="{{ .Name }}" name="sshkey" type="checkbox"> {{ .Name | LimitString 15 }}
            </div>
          </div>
          </label>
        </div>
        {{ end }}
    </div>

    <div class="row">
      <h4>Choose a hostname</h4>
      <div class="large-12 column">
          <input name="Name" type="text" placeholder="Input virtual machine name" required="required">
      </div>
    </div>

    <button class="button" type="submit">Create machine</button>
  </form>
  </div>
</div>
{{template "footer" .}}
