{{template "header" .}}
<div class="row">
  <p>
    Are you sure you want to {{ .Action }} machine <b>{{ .Machine.Name }}</b>?<br>
    {{ if eq .Action "stop" }}
    It feels like a power loss inside a machine!
    {{ end }}
  </p>
</div>
<div class="row">
  <form method="post" action="">
    {{ if eq .Action "stop" }}
    <button class="button alert" type="submit">{{ .Action | Capitalize }}</button>
    {{ else }}
    <button class="button" type="submit">{{ .Action | Capitalize }}</button>
    {{ end }}
    <a class="button secondary" href="{{ Url "machine-detail" "name" .Machine.Name }}">Cancel</a>
  </form>
</div>
{{template "footer" .}}
