{{template "header" .}}

<div class="row">
  <div class="callout alert" role="alert">
    This action cannot be undone!
  </div>
</div>

<div class="row">
  <p>
    Are you sure you want to remove machine <b>{{ .Machine.Name }}</b>?<br>
    <b>All data will be erased and you cannot restore it back!</b>
  </p>
</div>

<div class="row">
  <form method="post" action="">
    <button class="button alert" type="submit">Remove</button>
    <a class="button secondary" href="{{ Url "machine-detail" "name" .Machine.Name }}">Cancel</a>
  </form>
</div>

{{template "footer" .}}
