{{template "header" .}}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{{ Url "machine-list" }}">Machines</a></li>
  <li class="breadcrumb-item">{{ .Provider }}</li>
  <li class="breadcrumb-item active">{{ .Machine.Name }}</li>
</ol>

<div class="container">

<div class="card border-0">
  <div class="card-block">

    <div class="row">
      <div class="col-md-7">
        <h1>{{ .Machine.Name }}</h1>
        <div class="media">
          <img src="{{ Static "vmango/img/linux-logo.png" }}" width="100" alt="Generic placeholder image">
          <div class="media-body">
            <p class="text-muted">
              {{ .Machine.MemoryMegabytes }}MB RAM, {{ .Machine.RootDisk.SizeGigabytes }}G Disk, {{ .Machine.Cpus }} CPU<br>
              {{ .Machine.OS }} {{ .Machine.Arch }} <br>
              {{ .Provider }}
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-5 text-right">
        <p>

          {{ if .Machine.IsRunning }}
            <a class="btn btn-primary" href="{{ Url "machine-changestate" "id" .Machine.Id "provider" .Provider "action" "stop" }}">Power Off</a>
            <a class="btn btn-primary" href="{{ Url "machine-changestate" "id" .Machine.Id "provider" .Provider "action" "reboot" }}">Reboot</a>
          {{ else }}
            <a class="btn btn-primary" href="{{ Url "machine-changestate" "id" .Machine.Id "provider" .Provider "action" "start" }}">Power On</a>
          {{ end }}
            <a class="btn btn-danger" href="{{ Url "machine-delete" "id" .Machine.Id "provider" .Provider }}">Remove</a>
        </p>
        <p>
          Status: <b>{{ .Machine.StateName | Capitalize }}</b>
        </p>
        <p>
          IP Address: <b> {{ .Machine.Ip.Address }}</b>
        </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="card card-inverse card-info">
          <div class="card-block text-xs-center">
            <div class="text-muted small text-uppercase font-weight-bold">IP Address</div>
            <div class="h2 p-1">{{ .Machine.Ip.Address }}</div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-inverse card-warning">
          <div class="card-block text-xs-center">
            <div class="text-muted small text-uppercase font-weight-bold">VNC Address</div>
            <div class="h2 p-1">{{ .Machine.VNCAddr }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card card-inverse card-success">
          <div class="card-block text-xs-center">
            <div class="text-muted small text-uppercase font-weight-bold">SSH Keys</div>
            <div class="h2 p-1">
              {{ range .Machine.SSHKeys }} {{ .Name }} {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ if .Machine.HasUserdata }}
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block text-xs-center">
            <div class="text-muted small text-uppercase font-weight-bold">Userdata</div>
            <pre>
              <code>
{{ .Machine.Userdata }}
              </code>
            </pre>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>

{{template "footer" .}}
