{{template "header" .}}

<div class="row">
  <div class="medium-8 columns">
    <div class="row">
      <h1>{{ .Machine.Name }}</h1>
      <div class="medium-10 column">
        <div class="media-object">
          <div class="media-object-section">
            <div>
              <img height="60" width="60" src="{{ Static "vmango/server-icon.png" }}">
            </div>
          </div>
          <div class="media-object-section">
            <h5>{{ .Machine.OS }} {{ .Machine.Arch }}</h5>
            <p class="subheader">{{ .Machine.MemoryMegabytes }}M RAM {{ .Machine.RootDisk.SizeGigabytes }}G {{ .Machine.Cpus }} CPU</p>
          </div>
        </div>
      </div>
      <div class="medium-2 column">
        <span class="label {{ if .Machine.IsRunning }}success{{ else }}alert{{ end }}">
          {{ .Machine.StateName | Capitalize }}
        </span>
      </div>
    </div>

    <div class="row">
      <h4 class="subheader">Network</h4>
      <table class="unstriped">
        <tbody>
          <tr>
            <td>IP Address</td>
            <td>{{ if .Machine.Ip }}{{ .Machine.Ip.Address }}{{ else }}Unkown{{ end }}</td>
          </tr>
          {{ if .Machine.VNCAddr }}
          <tr>
            <td>VNC address</td>
            <td>{{ .Machine.VNCAddr }}</td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>

    <div class="row small-up-2 medium-up-3">
      <h4 class="subheader">SSH Keys</h4>
      {{ range .Machine.SSHKeys }}
        <div class="column">
          <div class="card">
            <div class="card-section">
              <span>{{ .Name }}</span>
            </div>
          </div>
        </div>
      {{ end }}
    </div>

  </div>
  <div class="medium-4 columns end">
    <ul class="menu vertical">
      {{ if .Machine.IsRunning }}
      <li>
        <a href="{{ Url "machine-changestate" "name" .Machine.Name "action" "stop" }}">
          <i class="fi-power"></i>
          <span>Force Stop</span>
        </a>
      </li>
      <li>
        <a href="{{ Url "machine-changestate" "name" .Machine.Name "action" "reboot" }}">
          <i class="fi-loop"></i>
          <span>Reboot</span>
        </a>
      </li>
      {{ else }}
      <li>
        <a href="{{ Url "machine-changestate" "name" .Machine.Name "action" "start" }}">
          <i class="fi-power"></i>
          <span>Start</span>
        </a>
      </li>
      {{ end }}

      <li>
        <a href="{{ Url "machine-delete" "name" .Machine.Name }}">
          <i class="fi-trash"></i>
          <span>Remove</span>
        </a>
      </li>

    </ul>
  </div>
</div>
{{template "footer" .}}
