{{ template "header" . }}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item">Machines</li>
</ol>

<div class="container">

  <div class="card border-0">
    <div class="card-block">
      <div class="row">
        <div class="col-md-12">
          <h4 class="card-title">Machines</h4>
          <div class="small text-muted" style="margin-top:-10px;">Over all hypervisors</div>
        </div>

        <div style="margin-top:40px;" class="col-md-12">
          <table class="table table-hover table-outline m-b-0">
            <thead class="thead-default">
              <tr>
                <th>Name</th>
                <th>State</th>
                <th>CPU</th>
                <th>Memory</th>
                <th>Provider</th>
              </tr>
            </thead>
            <tbody>
              {{ range $provider, $machines := .Machines }}
                {{ range $machines }}
                  <tr>
                    <td><a href="{{ Url "machine-detail" "id" .Id "provider" $provider }}">{{ .Name }}</a></td>
                    <td>{{ .StateName }}</td>
                    <td>{{ .Cpus }}</td>
                    <td>{{ .MemoryMegabytes }}Mb</td>
                    <td>{{ $provider }}</td>
                  </tr>
                {{ end }}
              {{ end }}
            </tbody>

          </table>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
    </div>
  </div>
</div>
{{ template "footer" . }}
