Source: vmango
Maintainer: Matvey Kruglov <kubuzzzz@gmail.com>
Section: Web
Priority: optional
Build-Depends: cdbs, libvirt-dev (>=1.2.0), debhelper (>=9), dh-systemd, pkg-config
Standards-Version: 3.9.1

Package: vmango
Architecture: any
Depends: genisoimage, ${misc:Depends}, ${shlibs:Depends}
Description: Web interface and API for KVM virtual machines management
