Source: vmango
Maintainer: Matvey Kruglov <kubuzzzz@gmail.com>
Section: admin
Priority: optional
Build-Depends: libvirt-dev (>=1.2.0), debhelper (>=10), golang, pkg-config
Standards-Version: 4.1.2
Homepage: https://github.com/subuk/vmango

Package: vmango
Architecture: any
Depends: genisoimage, ${shlibs:Depends}, ${misc:Depends}
Description: Your own personal IaaS cloud
