#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

build:
	GOROOT=$(CURDIR)/go PATH="$(CURDIR)/go/bin:$$PATH" make VERSION=$(DEB_VERSION)

binary-install/vmango::
	make install DESTDIR=debian/$(cdbs_curpkg)

clean::
	make clean
