<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="{{ Static "vmango/img/favicon.png" }}">
  <title>{{ .Title }} — Vmango</title>
  {{ template "css" }}
</head>

<body class="app sidebar-hidden">
  <header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img class="navbar-brand-full" src="{{ Static "vmango/img/logo.png" }}" width="89" height="25" alt="CoreUI Logo">
    </a>
    <ul class="nav navbar-nav d-md-down-none">
      {{ if ConfigLinks }}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ ConfigLinksTitle }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {{ range ConfigLinks }}
          <a class="dropdown-item dropdown-item-sm {{ if .Active }}active{{ end }}" {{ if not .Active }}href="{{ .Url }}"{{ end }}>{{ .Title }}</a>
          {{ end }}
        </div>
      </li>
      {{ end }}
      <li class="nav-item px-3">
        <a class="nav-link" href="{{ Url "node-list" }}">Nodes</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="{{ Url "virtual-machine-list" }}">Machines</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="{{ Url "volume-list" }}">Volumes</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="{{ Url "image-list" }}">Images</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="{{ Url "network-list" }}">Networks</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="{{ Url "key-list" }}">Keys</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="{{ Url "virtual-machine-add" }}">Create machine</a>
      </li>
    </ul>
    <ul class="nav navbar-nav d-md-down-none ml-auto pr-3">
      <li class="nav-item px-3">
        <a class="nav-link" href="{{ Url "logout" }}">Logout</a>
      </li>
    </ul>
  </header>

  <div class="app-body">
    <!-- Main content -->
    <main class="main">
