<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="icon" href="{{ Url "static" "name" "vmango/favicon.ico" }}">
    {{template "css" }}
  </head>
  <body>
    {{ $machinesUrl := Url "machine-list" }}
    {{ $machineAddUrl :=  Url "machine-add" }}
    {{ $imagesUrl := Url "image-list" }}
    {{ $ipsUrl := Url "ip-list" }}
    {{ $plansUrl := Url "plan-list" }}
    {{ $sshkeysUrl := Url "sshkey-list" }}
    {{ $loginUrl := Url "login" }}
    {{ $logoutUrl := Url "logout" }}

    <div class="top-bar">
      <div class="row">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text">Vmango</li>
            {{ if IsAuthenticated .Request }}
            <li {{if and (HasPrefix .Request.URL.Path $machinesUrl) (not (eq .Request.URL.Path $machineAddUrl)) }}class="active"{{end}}>
              <a href="{{ $machinesUrl }}">Machines</a>
            </li>
            <li {{if HasPrefix .Request.URL.Path $imagesUrl }}class="active"{{end}}>
              <a href="{{ $imagesUrl }}">Images</a>
            </li>
            <li {{if HasPrefix .Request.URL.Path $ipsUrl }}class="active"{{end}}>
              <a href="{{ $ipsUrl }}">IP Addresses</a>
            </li>
            <li {{if HasPrefix .Request.URL.Path $plansUrl }}class="active"{{end}}>
              <a href="{{ $plansUrl }}">Plans</a>
            </li>
            <li {{if HasPrefix .Request.URL.Path $sshkeysUrl }}class="active"{{end}}>
              <a href="{{ $sshkeysUrl }}">SSH Keys</a>
            </li>
            {{ end }}
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            {{ if IsAuthenticated .Request }}
            <li {{if HasPrefix .Request.URL.Path $machineAddUrl }}class="active"{{end}}><a href="{{ $machineAddUrl }}">Add machine</a></li>
            <li><a href="{{ $logoutUrl }}">Logout</a></li>
            {{ else }}
            <li {{if HasPrefix .Request.URL.Path $loginUrl }}class="active"{{end}}><a href="{{ $loginUrl }}">Login</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
    <br>