{{template "header" .}}

<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">Home</li>
</ol>

<div class="container">
  {{ range .Statuses }}
  <div class="card border-0">
    <div class="card-block">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ .Name }} <small class="text-muted">{{ .Type }}</small></h2>
          <table>
            <tr>
              <td>Description</td>
              <td>{{ .Description }}</td>
            </tr>
            <tr>
              <td>Connection</td>
              <td>{{ .Connection }}</td>
            </tr>
            <tr>
              <td>Machines</td>
              <td>{{ .MachineCount }}</td>
            </tr>
            <tr>
              <td>Storage space usage ({{ .Storage.Total | HumanizeBytes 3 }} total)</td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-{{if lt .Storage.Usage 80}}success{{ else }}danger{{ end }}" role="progressbar" style="width: {{ .Storage.Usage }}%" aria-valuenow="{{ .Storage.Usage }}" aria-valuemin="0" aria-valuemax="100">
                    {{ .Storage.Usage }}%
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Memory usage ({{ .Memory.Total | HumanizeBytes 2 }} total)</td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-{{if lt .Memory.Usage 80}}success{{ else }}danger{{ end }}" role="progressbar" style="width: {{ .Memory.Usage }}%" aria-valuenow="{{ .Memory.Usage }}" aria-valuemin="0" aria-valuemax="100">
                    {{ .Memory.Usage }}%
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</div>

{{template "footer" .}}
