<script src="{{ Static "coreui/js/jquery.min.js" }}"></script>
<script src="{{ Static "coreui/js/tether.min.js" }}"></script>
<script src="{{ Static "coreui/js/bootstrap.min.js" }}"></script>
<script src="{{ Static "coreui/js/pace.min.js" }}"></script>

<script src="{{ Static "xterm/xterm.js" }}"></script>
<script src="{{ Static "xterm/addons/fit/fit.js" }}"></script>

<script src="{{ Static "vmango/vmango.CheckboxCard.js" }}"></script>
<script src="{{ Static "vmango/vmango.ReactiveForm.js" }}"></script>
<script src="{{ Static "vmango/vmango.WSConsole.js" }}"></script>
<script>
  (function (exports) {
    Terminal.applyAddon(fit);
  })(window);

  $(function () {
    $('.JS-WSConsole').each(function (idx, el) {
      Vmango.WSConsole(el);
    });
    $('.JS-CheckboxCards').each(function (idx, el) {
      Vmango.CheckboxCards(el);
    });
    $('.JS-ReactiveForm').each(function (idx, el) {
      Vmango.ReactiveForm(el);
    });
    $(".JS-VmCreatePageNodeSelector").on('change', function(event){
      var destUrl = '{{ Url "virtual-machine-add" }}';
      window.location.href = destUrl + "?node=" + $(event.target).val();
    })
    $(".JS-VolumeListNodeSelector").on('change', function(event){
      var destUrl = '{{ Url "volume-list" }}';
      window.location.href = destUrl + "?node=" + $(event.target).val();
    })
    $(".JS-QueryStringSelector").on('change', function(event){
      var destUrl = $(event.target).data('url'),
          name = $(event.target).data('paramname'),
          exclusive = $(event.target).data('exclusive'),
          value = $(event.target).children("option:selected").val(),
          urlParams;

      if (exclusive) {
        urlParams = new URLSearchParams("");
      } else {
        urlParams = new URLSearchParams(window.location.search);
      }
      urlParams.set(name, value);

      window.location.href = destUrl + "?" + urlParams.toString();
    })
  });
</script>
