<script src="{{ Static "foundation/js/vendor/jquery.js" }}"></script>
<script src="{{ Static "foundation/js/vendor/what-input.js" }}"></script>
<script src="{{ Static "foundation/js/vendor/foundation.min.js" }}"></script>
<script src="{{ Static "vmango/vmango.CheckboxCard.js" }}"></script>
<script src="{{ Static "vmango/vmango.ReactiveForm.js" }}"></script>
<script>
    $(document).foundation();
</script>

<script>
$(function(){
    $('.JS-CheckboxCards').each(function(idx, el){
        Vmango.CheckboxCards(el);
    });
    $('.JS-ReactiveForm').each(function(idx, el){
        Vmango.ReactiveForm(el);
    });
});
</script>
