{{template "header" .}}
<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">

    <form class="JS-ReactiveForm" method="post" action="">{{ CSRFField .Request }}
      <div class="row column log-in-form">
        <h4 class="text-center">Please sign in</h4>
        <label>Username
          <input name="username" type="text" placeholder="">
        </label>
        <label>Password
          <input name="password" type="password" placeholder="">
        </label>
        <p><button type="submit" data-loading="<i class='fi fi-loop'></i> Logging in..." class="button expanded">Log In</button></p>
      </div>
    </form>

  </div>
</div>
{{template "footer" .}}
