{{ template "header" . }}

<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{{ Url "volume-list" }}">Volumes</a></li>
  <li class="breadcrumb-item"><a href="{{ Url "volume-list" }}?node={{ .Volume.NodeId }}">{{ .Volume.NodeId }}</a></li>
  <li class="breadcrumb-item"><a href="{{ Url "volume-list" }}?node={{ .Volume.NodeId }}&pool={{ .Volume.Pool }}">{{ .Volume.Pool }}</a></li>
  <li class="breadcrumb-item"><a href="{{ Url "volume-list" }}?node={{ .Volume.NodeId }}&pool={{ .Volume.Pool }}#{{ .Volume.Name }}">{{ .Volume.Name }}</a></li>
  <li class="breadcrumb-item active">Clone</li>
</ol>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4>Clone Volume {{ .Volume.Path }}</h4>
          <br>
          <form class="JS-ReactiveForm" method="post" action="">{{ CSRFField .Request }}
            <div class="form-group row">
              <div class="col-md-6">
                <label>New Volume Pool</label>
                <select required="required" class="form-control" name="Pool">
                  {{ range .Pools }}
                  <option value="{{ .Name }}">{{ .Name }} ({{ .Free.Bytes | HumanizeBytes }} free {{ .UsagePercent }}% used)
                  </option>
                  {{ end }}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label>New Volume Name</label>
                <input required="required" class="form-control" name="Name" id="Name">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-3">
                <label>New Volume Format</label>
                <select required="required" class="form-control" name="Format">
                  {{ range .VolumeFormats }}
                  <option value="{{ . }}">{{ . }}</option>
                  {{ end }}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-3">
                <label>New Volume Size</label>
                <div class="input-group">
                  <input required="required" class="form-control" name="SizeValue" min="1" id="SizeValue" type="number" value="{{ .Volume.Size.G }}">
                  <div class="input-group-append">
                    <select style="border-top-left-radius: 0; border-bottom-left-radius: 0;" name="SizeUnit" class="form-control">
                      <option value="B">B</option>
                      <option value="K">K</option>
                      <option value="M">M</option>
                      <option selected value="G">G</option>
                    </select>
                  </div>
                </div>
                <small id="nameHelp" class="form-text text-muted">LVM volumes cannot be resized after creation</small>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <button class="btn btn-primary" data-loading="<i class='icon-refresh icons'></i> Cloning volume..."
                  type="submit">Clone volume</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


{{ template "footer" . }}
