{{ template "header" . }}

<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="{{ Url "virtual-machine-list" }}">Virtual Machines</a></li>
  <li class="breadcrumb-item"><a href="{{ Url "virtual-machine-detail" "id" .Vm.Id }}">{{ .Vm.Id }}</a></li>
  <li class="breadcrumb-item active">Console</li>
</ol>

<div class="container">
  <div class="card border-0">
    <div class="card-block JS-WSConsole" data-JSConsole-WSUrl="{{ Url "virtual-machine-console-ws" "id" .Vm.Id }}">
        <div class="JS-WSConsole-Window"></div>
    </div>
  </div>
</div>


{{ template "footer" . }}
