{{template "header" .}}
<div class="row">
  <h1>IP Addresses</h1>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Address</th>
        <th>Netmask</th>
        <th>Gateway</th>
        <th>UsedBy</th>
      </tr>
    </thead>
    <tbody>

    {{ range .Ips.All }}
      <tr>
        <td>{{ .Address }}</td>
        <td>{{ .Netmask }}</td>
        <td>{{ .Gateway }}</td>
        {{ if .UsedBy }}
        <td><a href="{{ Url "machine-detail" "name" .UsedBy }}">{{ .UsedBy }}</a></td>
        {{ else }}
        <td></td>
        {{ end }}
      </tr>
    {{ end }}
    </tbody>
  </table>
</div>
{{template "footer" .}}
